body {
  background-color: #f8f9fa;
}

h1 {
  font-weight: 600;
}

.card {
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

button {
  margin: 5px;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.hero-image {
  background-image: url("../images/campus.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}